{% for n in my_list %}
        {% for page,m in n['value'].items() %}
        {% for val in m %}
        <tr>
            <td>{{n.filename}}</td>
            <td>{{n.date}}</td>
            <td>{{n.metric}}</td>
            <td>{{page}}</td>
            <td>{{val['value']}}</td>

            <td>
              <textarea class="form-control edited_value" style="width: 150px;" id="{{n.metric}}_{{page}}_{{loop.index}}" name="{{n.metric}}_{{page}}_{{loop.index}}" ></textarea>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}